
/***********************************
*		General
************************************/

body {
	background-color: #F0F0F0;
}

.default_container{
	width:76%;
	margin-left: 12%;
	margin-right: 12%;
	margin-top: 20px;
	margin-bottom: 40px;
	/*font-family: Verdana, Helvetica, sans-serif;
	font-size:14px;
	color:4C4C4D;*/
}

.content-section{
	margin-bottom:30px;
}

.center{
	text-align: center;
}

.clear {
  height:1em;
  clear:both;
}

/***********************************
*		Shoptool
************************************/

.shoptool-navbar{}

.shoptool-navbar-inner{
	padding-left:10px;
}

.shoptool_content_container{
	font-family: Gill Sans, Verdana, sans-serif;
	font-size:14px;
	color:4C4C4D;
}

.search_container{
	/*margin-top: 20px;*/
	padding-left: 12%;
	padding-right: 12%;
	padding-top:20px;
	padding-bottom:20px;
	background-color: #DBDBDB;
}

.products_container{
	padding-left: 12%;
	padding-right: 12%;
	padding-top:20px;
	padding-bottom:20px;
}

#products{}

.product{}

.product_picture{}

.product_brand{
	font-size:12px;
	font-style:italic;
}

.product_name{}

.product_sale_price{
	font-size:16px;
}

.product_msrp_price{
	font-size:12px;
	text-decoration: line-through;
}

.product_retailer{}






/***********************************
*		Responsive
************************************/

/* Large desktop */
@media (min-width: 1200px) {
	
	/* General */
	/* Shoptool */

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	
	/* General */
	/* Shoptool */
	
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	
	/* General */
	body {
		padding-top:0px;
	}
	/* Shoptool */
	
}

/* Landscape phones and down */
@media (max-width: 480px) {
	
	/* General */
	body {
		padding-top:0px;
	}
	/* Shoptool */
	
}




