<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Bootstrap -->
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    	<link type="text/css" rel="stylesheet" href="/static/stylesheets/main-pre-responsive.css">
		<link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    	<link type="text/css" rel="stylesheet" href="/static/stylesheets/main.css">
    	<title>DJT: Admin</title>
		<!-- Javascript -->
		<script src="/static/js/jquery-1.8.2.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/js/index.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/js/product.js" type="text/javascript" charset="utf-8"></script>
		<!-- Google Analytics -->
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-35201804-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</head>
	<body>
		<div class="shoptool_container">
			<!-- Top page elements -->
			<div class="navbar navbar-fixed-top navbar-inverse shoptool-navbar">
				<div class="navbar-inner shoptool-navbar-inner">
					<a class="brand" href="{{ url_for('index') }}"><strong>DJT</strong>hriftee</a>
				</div>
	  		</div>
	  		{% if error %}
	  			<h1> Error: {{ error }}</h1>
	  		{% endif %}
	  		{% for message in get_flashed_messages() %}
				<div class=flash>{{ message }}</div>
			{% endfor %}

			<br /><br /><br />

			<!-- Pull in new product data and update skus -->
			<form action="{{ url_for('pull_new_data') }}" method=post>
				<button id="pull_new_data_btn" type="submit" class="btn">Pull in new product data</button>
			</form>
			{% if new_product_count %}
				{% if new_product_count!=-1 %}
					New product count = {{ new_product_count }}
				{% endif %}
			{% endif %}


			<!-- Update inventory status -->
			<form action="{{ url_for('update_inventory_status') }}" method=post>
				<button id="update_inventory_status_btn" type="submit" class="btn">Update inventory status</button>
			</form>
			{% if changed_inventory_status_count %}
				{% if changed_inventory_status_count!=-1 %}
					Changed inventory status count = {{ changed_inventory_status_count }}
				{% endif %}
			{% endif %}


			<!-- Update available products list -->
			<form action="{{ url_for('update_available_products_list') }}" method=post>
				<button id="update_available_products_list_btn" type="submit" class="btn">Update available products list</button>
			</form>
			{% if available_products_count %}
				{% if available_products_count!=-1 %}
					Available products count = {{ available_products_count }}
				{% endif %}
			{% endif %}

			
		</div>
	</body>
</html>





