<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Favicon -->
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<!-- CSS -->
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    	<link type="text/css" rel="stylesheet" href="/static/stylesheets/main-pre-responsive.css">
		<link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    	<link type="text/css" rel="stylesheet" href="/static/stylesheets/main.css">
    	<title>DJT</title>
		<!-- Javascript -->
		<script src="/static/js/jquery-1.8.2.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/js/index.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/js/product.js" type="text/javascript" charset="utf-8"></script>
		<!-- Google Analytics -->
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-35201804-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</head>
	<body>
		<div class="shoptool_container">
			
			<!-- Top page elements -->
			<div class="navbar navbar-fixed-top navbar-inverse shoptool-navbar">
				<div class="navbar-inner">
					<ul class="nav pull-left">
						<li><a class="brand" href="{{ url_for('index') }}"><strong>DJT</strong>hriftee</a></li>
					</ul>
					<ul class="nav pull-right">
						<li id="login_link_area" class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" id="login_toggle">
								login
								<b class="caret"></b>
							</a>
							<div class="dropdown-menu" id="login_dropdown_menu">
								<input id="input_email" type="text" placeholder="Email">
								<input id="input_password" type="password" placeholder="Password">
								<button id="login_or_register_btn" type="submit" class="btn">Login or Register</button>
							</div>
						</li>
						<li id="logout_link_area"><a href="#" id="logout_link">logout</a></li>
					</ul>
				</div>
	  		</div>


	  		<!-- Flash messages -->
	  		{% for message in get_flashed_messages() %}
				<div class=flash>{{ message }}</div>
			{% endfor %}


			<!-- Login form -->
			<!-- <br />
			<div class="login_form">
				<input id="input_email" type="text" placeholder="Email">
				<input id="input_password" type="password" placeholder="Password">
				<button id="login_or_register_btn" type="submit" class="btn">Login or Register</button>
			</div> -->
			
			
			<!-- Search form -->
			<div class="search_container">
				<div class="Title"><h2>Find products</h2></div>
				<div class="controls">
					<select id="input_category" class="span4" placeholder="Category">>
						{% if available_categories %}
						{% for category in available_categories %}
							<option>{{ category.gilt_category }}</option>
						{% endfor %}
						{% endif %}
					</select>
				</div>
				<div class="controls controls-row">
					<input class="span2" id="input_min_price" type="text" placeholder="Minimum price">
					<input class="span2" id="input_max_price" type="text" placeholder="Maximum price">
				</div>
				<div><button id="get_products_btn" type="submit" class="btn">Go</button></div>
			</div>


			<!-- Items -->
			<div class="products_container">
				<div id="products"></div>
				<div id="empty_product_list_text"></div>
			</div>


		</div>
	</body>
</html>





